section-heading {
	display: block;
}

section-heading .container {
	display: flex;
	width: fit-content;
	max-width: 100vw;
	margin: auto;
	align-items: center;
}

section-heading h1 {
	display: inline;
	padding: 0 0.5em;
	flex: 0 0 auto;
}

section-heading .side {
	fill: none;
	flex: 0 1 300px;
	position: relative;
}
section-heading div.side {
	margin: 0;
	position: static;
	display: flex;
	justify-content: flex-end;
	overflow: clip;
}

section-heading div.left-wrapper {
	float: right;
	width: fit-content;
	overflow: visible;
	flex: 0;
}